#maraude {

}
.mainrow {
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;


}

.rowitem {
  margin: 1rem;
  border: 1.5px solid #282c34;
  color: #282c34;
  padding: 1rem;
}
.Liste {
  text-align: left;
  font-size: calc(7px + 1.5vmin);
  text-decoration: underline;
  color: black;
}
.Nom{
  text-decoration: underline;
  font-size: calc(7px + 1.25vmin);
  color: black;


}
.Desc{
  font-size: calc(5px + 1vmin);
  color: black;



}
.Date{
  font-size: calc(5px + 1vmin);
  color: black;


}
