#maraude {

}
.mainrow {
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  border: 1px solid blue;
}

.rowitem {
  border: 1px solid red;
  padding: 1rem;
  margin-right: 1rem;
}
h3 {
  font-size: 150;
  color :  white;
}
