.logincomponent {
  background-color: white;
  text-align: left;
  color : black;
  background-color: white;
}

button{
  color: black;
  margin : 1rem;


}
.mdp{
  padding-top: 0;
  background-color: white;
  margin :1rem;
  color: black


}

.erreurs{
  color : red;
}
.connected{
  background-color: white;
  color: black;
  background-color: white;
}