.logincomponent {
  background-color: white;
  text-align: center;
  color : black;
  padding-top: 0.5rem;
}

button{
  color: black;
  margin : 1rem;


}
.mdp{
  margin :1rem;
  color: black;


}

.erreurs{
  color : red;
}
.connected{
  background-color: white;
  color: black;
  background-color: white;
}
.Logout{
  color:black;
}