#container
{
    border: 1px solid antiquewhite;
}
.action
{
    display: flex;
    flex-direction: row;
    text-align: start;
}
.item
{
    border: 1px solid aliceblue;
    margin: 1rem;
    padding: 0.5rem;
}
